# Ignore these file types in git status
*~
*/*~
#
ttWPlotter/Selector/*.d
ttWPlotter/Selector/*.so
ttWPlotter/Selector/*.pcm
#
ttWPlotter/Plotter/*.d
ttWPlotter/Plotter/*.so
ttWPlotter/Plotter/*.pcm
#
ttWPlotter/*/hist_*.root
